<%= content_for :club_header do %>
  <%= render "members/membership_registrations/club_header", club: @club %>
<% end %>

<%= content_for :progress_bar do %>
  <%= render "members/membership_registrations/progress_bar", step_count: 5 %>
<% end %>


<div class="w-[100%] mx-auto max-w-3xl space-y-8 py-3">
  <h2 class="text-2xl lg:text-3xl font-semibold text-center lg:text-start mb-3">
    Choose a payment option
  </h2> 
  <div class="space-y-2 text-center lg:text-start">
    <p class="text-sm text-slate-600">Select how you would like to pay.</p>
  </div>

  <%= form_with url: members_membership_registration_path(step: "payment_option", club_id: @club.id),
                method: :put,
                scope: :membership_registration_form,
                class: "space-y-6" do |form| %>
    <%= turbo_frame_tag "payment_option_selection" do %>
      <%= render "members/membership_registrations/payment_option_selection" %>
    <% end %>

    <div class="flex justify-between mt-4">
      <%= link_to "Previous",
                  members_membership_registration_path(step: "terms", club_id: @club.id),
                  class: "inline-flex items-center justify-center rounded border border-slate-300 px-5 py-2 text-sm font-semibold text-slate-700 transition hover:border-slate-400 hover:text-slate-900" %>
      <%= form.submit "Continue",
                      class: "inline-flex items-center justify-center rounded bg-slate-900 px-6 py-3 text-sm font-semibold text-white shadow transition hover:bg-slate-800 bg-easyclub-primary" %>
    </div>
  <% end %>
</div>
